<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ApiBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://v3.core.com.productserve.com/ProductServeService"
                binding="basicHttpBinding" bindingConfiguration="ApiBinding"
                contract="Awin.ApiPortType" name="ApiPort" />
        </client>
    </system.serviceModel>
</configuration>